.dark-green {
    background-color: #6CAD7E !important;
}

.pink {
    background-color: #FACDCD;
}

.grey {
    background-color: #DCDCDC;
}

.letter-light {
    color: #FFEBEB !important;
}

.letter-green {
    color: #6CAD7E !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.link-unstyled {
    color: black;
    text-decoration: none;
}

.link-unstyled:hover {
    color: black;
    text-decoration: none;
}

.block {
    display: block;
    max-width: 100%;
}

table {
    width: 100%;
    border: 1px solid black;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.cart-teddy {
    max-height: 100px;
}

.bi-cart {
    color: #FFEBEB;
}

.fa-star {
    color: #6CAD7E !important;
}

.no-border {
    border: none !important;
}